.menu-container {
  width: 12%;
  background-color: #ebebeb;
  border-right: 1px solid #e3e3e3;
  padding: 15px;
  min-width: 120px;
  height: 100vh;
  overflow-y: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-item {
  padding: 25px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  background-color: #444444;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.menu-item:hover {
  background-color: #666;
}

.menu-item:active {
  background-color: #dee2e6;
}

.menu-item.selected {
  background-color: #af3c43;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.menu-item.selected:hover {
  background-color: #8c2f35;
}
