.sidebar {
  width: 12%;
  padding: 15px;
  background-color: #ebebeb;
  border-right: 1px solid #e3e3e3;
  height: 100vh;
  min-width: 140px;
}

.sidebar button {
  width: 100%;
  margin: 5px 0;
  padding: 25px;
  background-color: #444444;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  font-weight: 600;
}

.sidebar button:hover {
  background-color: #666;
}
